.App {
  width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  width: 100vw;
  background-color: #3a3a3a;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.App-header img {
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

.input {
  margin-left: calc(50% - 100px);
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.2rem;
  outline: none;
  border: 0.5px solid #333;
  border-radius: 5px;
}

.list {
  width: 50%;
  margin: auto;
}

.hero {
  border: 1px solid #333;
  transition: min-height 1s linear;
  min-height: 70px;
  padding: 7px;
  border-radius: 10px;
  margin: 7px;
}

.hero h3 {
  margin-left: 25px;
}

.hero span {
  padding: 3px 10px;
  border: 0.5px solid #eee;
  border-radius: 10px;
  background: darkcyan;
  color: #fff;
  font-size: 1rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h2 {
  margin-left: 25px;
}

.showInfoBtn {
  background: white;
  color: black;
  border: 1px solid #999;
}

.hideInfoBtn {
  background: red;
  color: white;
  border: 1px solid red;
}

.title button {
  padding: 7px;
  border-radius: 10px;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-right: 10px;
  outline: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message-enter {
  opacity: 0.01;
  transform: translateY(-50%);
}
.message-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 300ms ease-out;
}
.message-exit {
  opacity: 0.5;
  transform: scale(1) translateY(0%);
}
.message-exit-active {
  opacity: 0.01;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
}
